.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #f9f9f9
}
.style2 {
  margin-left: 62.29868228404099vw;
  margin-top: 8.970588235294118vh;
  width: 1.2722121499816983vw;
  height: 1.3177159590043923vw;
  z-index: 1
}
.style1 {
  background-color: #fbfbfb;
  border-left: .07320644216691069vw solid #e2e2e2;
  border-right: .07320644216691069vw solid #e2e2e2;
  border-top: .07320644216691069vw solid #e2e2e2;
  border-bottom: .07320644216691069vw solid #e2e2e2;
  margin-left: -56.396663101665446vw;
  margin-top: 4.5588235294117645vh;
  width: 85.65153733528551vw;
  height: .07320644216691069vw;
  z-index: 0
}
.style3 {
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1607843137254902);
  margin-left: -85.65153733528551vw;
  margin-top: 24.852941176470587vh;
  width: 19.765739385065885vw;
  height: 3.294289897510981vw;
  z-index: 2
}
.goodsrow3 {
  display: flex;
  margin-left: -19.765739385065885vw;
  width: 85.50512445095168vw;
  flex-wrap: wrap
}
.goodsrow3col0,
.style4 {
  margin-top: 0;
  width: 19.765739385065885vw
}
.goodsrow3col0 {
  display: flex;
  margin-left: 0;
  min-width: 180px;
  flex-direction: column;
  height: 63.396778916544655vw
}
.style4 {
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1607843137254902);
  height: 4.24597364568082vw;
  z-index: 3
}
.style5 {
  margin-top: .07320644216691069vw;
  height: 3.294289897510981vw;
  z-index: 4
}
.style5,
.style6,
.style7 {
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1607843137254902);
  width: 19.765739385065885vw
}
.style6 {
  margin-top: 0;
  height: 6.222547584187408vw;
  z-index: 5
}
.style7 {
  margin-top: .07320644216691069vw;
  height: 3.294289897510981vw;
  z-index: 6
}
.style8 {
  margin-top: 0;
  height: 4.758418740849195vw;
  z-index: 7
}
.style10,
.style8,
.style9 {
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1607843137254902);
  width: 19.765739385065885vw
}
.style9 {
  margin-top: .07320644216691069vw;
  height: 3.294289897510981vw;
  z-index: 8
}
.style10 {
  margin-top: 0;
  height: 8.052708638360176vw;
  z-index: 9
}
.style11 {
  margin-top: .07320644216691069vw;
  height: 3.294289897510981vw;
  z-index: 10
}
.style11,
.style12,
.style13,
.style14,
.style15,
.style16 {
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1607843137254902);
  width: 19.765739385065885vw
}
.style12 {
  margin-top: 0;
  height: 13.177159590043924vw;
  z-index: 11
}
.style13,
.style14,
.style15,
.style16 {
  margin-top: .07320644216691069vw;
  height: 3.294289897510981vw;
  z-index: 12
}
.style14,
.style15,
.style16 {
  z-index: 13
}
.style15,
.style16 {
  z-index: 14
}
.style16 {
  z-index: 15
}
.goodsrow3col1,
.style17 {
  display: flex;
  width: 15.885797950219619vw
}
.goodsrow3col1 {
  margin-left: 2.1961932650073206vw;
  margin-top: -61.56661786237189vw;
  min-width: 144.66666666666666px;
  flex-direction: column;
  height: 85.50512445095168vw
}
.style17 {
  background-color: #fff;
  margin-left: 0;
  margin-top: 0;
  height: 21.37628111273792vw;
  z-index: 16;
  justify-content: center
}
.goodsrow3col1container15col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style19 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 18
}
.style18 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.44182697257046vw;
  height: 1.2445095168374818vw;
  z-index: 17
}
.style29 {
  background-color: #fff;
  display: flex;
  margin-left: -15.885797950219619vw;
  margin-top: 0;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 28;
  justify-content: center
}
.goodsrow3col1container19col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style31 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 30
}
.style30 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.44182697257046vw;
  height: 1.2445095168374818vw;
  z-index: 29
}
.style38 {
  background-color: #fff;
  display: flex;
  margin-left: -15.885797950219619vw;
  margin-top: 0;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 37
}
.goodsrow3col1container22col0 {
  display: flex;
  margin-left: 0;
  margin-top: .07320644216691069vw;
  width: 13.689604685212299vw;
  height: 19.91215226939971vw;
  flex-direction: column
}
.style62 {
  background-color: #5680e2;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 3.1478770131771596vw;
  height: 1.7569546120058566vw;
  z-index: 61;
  align-items: center;
  justify-content: center;
  border-radius: 0 .8784773060029283vw .8784773060029283vw 0
}
.style63 {
  color: #fff;
  font-family: roboto-1,serif;
  font-size: .8784773060029283vw;
  z-index: 62
}
.style40 {
  object-fit: cover;
  margin-left: -2.049780380673499vw;
  margin-top: -.7320644216691069vw;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 39
}
.style39 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-left: -13.565711360724745vw;
  margin-top: 3.953147877013177vw;
  width: 13.44182697257046vw;
  height: 1.2445095168374818vw;
  z-index: 38
}
.style50 {
  background-color: #fff;
  display: flex;
  margin-left: -15.885797950219619vw;
  margin-top: 0;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 49;
  justify-content: center
}
.goodsrow3col1container26col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style52 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 51
}
.style51 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.44182697257046vw;
  height: 1.2445095168374818vw;
  z-index: 50
}
.style20 {
  background-color: #fff;
  display: flex;
  margin-left: 0;
  margin-top: -85.50512445095168vw;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 19;
  justify-content: center
}
.goodsrow3col1container16col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style22 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 21
}
.style21 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 20
}
.style32 {
  background-color: #fff;
  display: flex;
  margin-left: -15.885797950219619vw;
  margin-top: 0;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 31;
  justify-content: center
}
.goodsrow3col1container20col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style34 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 33
}
.style33 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 32
}
.style41 {
  background-color: #fff;
  display: flex;
  margin-left: -15.885797950219619vw;
  margin-top: 0;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 40;
  justify-content: center
}
.goodsrow3col1container23col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style43 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 42
}
.style42 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 41
}
.style53 {
  background-color: #fff;
  display: flex;
  margin-left: -15.885797950219619vw;
  margin-top: 0;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 52;
  justify-content: center
}
.goodsrow3col1container27col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style55 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 54
}
.style54 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 53
}
.style23 {
  background-color: #fff;
  display: flex;
  margin-left: 0;
  margin-top: -85.50512445095168vw;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 22;
  justify-content: center
}
.goodsrow3col1container17col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style25 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 24
}
.style24 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 23
}
.style44 {
  background-color: #fff;
  display: flex;
  margin-left: -15.885797950219619vw;
  margin-top: 21.37628111273792vw;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 43
}
.goodsrow3col1container24col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: .43923865300146414vw;
  width: 13.689604685212299vw;
  height: 19.546120058565155vw;
  flex-direction: column
}
.style46,
.style64 {
  position: relative;
  display: flex
}
.style46 {
  background-image: url(https://designresources.assets.yotako.io/80syc55iikcswftis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  margin-left: 0;
  justify-content: center;
  margin-top: .6588579795021962vw;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 45
}
.style64 {
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
  margin-left: -1.0980966325036603vw;
  margin-top: -22.474377745241583vw;
  width: 15.885797950219619vw;
  height: 25.109809663250367vw;
  z-index: 63;
  flex-direction: column;
  flex-shrink: 0
}
.style72 {
  background-color: #ef4317;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 3.22108345534407vw;
  height: 1.7569546120058566vw;
  z-index: 71;
  align-items: center;
  justify-content: center;
  border-radius: 0 .8784773060029283vw .8784773060029283vw 0
}
.style73 {
  color: #fff;
  font-family: roboto-1,serif;
  font-size: .8784773060029283vw;
  z-index: 72
}
.style71 {
  object-fit: cover;
  margin-left: -2.12298682284041vw;
  margin-top: -.6588579795021962vw;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 70
}
.goodsrow3col1container24col0image10container31row2 {
  display: flex;
  margin-left: -13.484247746614201vw;
  margin-top: .36603221083455345vw;
  width: 6.383151365757687vw;
  height: .808117085983254vw;
  justify-content: space-between
}
.style66,
.style67,
.style68,
.style69,
.style70 {
  width: .8434826249084919vw;
  height: .808117085983254vw;
  z-index: 65
}
.style67,
.style68,
.style69,
.style70 {
  z-index: 67
}
.style67,
.style69,
.style70 {
  z-index: 66
}
.style69,
.style70 {
  z-index: 68
}
.style70 {
  z-index: 69
}
.style65,
.style78 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: .9516837481698389vw;
  margin-left: -6.464614979868228vw;
  margin-top: .8024246416887811vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 64
}
.style78 {
  color: #979797;
  font-size: 1.0248901903367496vw;
  font-weight: 700;
  margin-left: -13.419316349057468vw;
  margin-top: .7320644216691069vw;
  width: 12.079062957540264vw;
  z-index: 77
}
.style79 {
  background-color: #979797;
  border-left: .07320644216691069vw solid #979797;
  border-right: .07320644216691069vw solid #979797;
  border-top: .07320644216691069vw solid #979797;
  border-bottom: .07320644216691069vw solid #979797;
  margin-left: -7.430453879941435vw;
  margin-top: -.47584187408491946vw;
  width: 3.8799414348462666vw;
  height: 0;
  z-index: 78
}
.goodsrow3col1container24col0image10container31row5 {
  display: flex;
  margin-left: -12.079062957540264vw;
  margin-top: 1.0980966325036603vw;
  width: 11.932650073206442vw;
  height: 2.9282576866764276vw
}
.style74,
.style76 {
  height: 2.9282576866764276vw
}
.style74 {
  margin-left: 0;
  border-radius: 1.4641288433382138vw;
  background-color: #ff8e0a;
  width: 7.906295754026354vw;
  z-index: 73
}
.style76 {
  background-color: #fff;
  border-left: .07320644216691069vw solid #e2e2e2;
  border-right: .07320644216691069vw solid #e2e2e2;
  border-top: .07320644216691069vw solid #e2e2e2;
  border-bottom: .07320644216691069vw solid #e2e2e2;
  margin-left: 1.0980966325036603vw;
  width: 2.9282576866764276vw;
  z-index: 75;
  border-radius: 50%
}
.style75 {
  color: #fff;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  font-weight: 700;
  margin-left: -12.152269399707174vw;
  margin-top: -14.348462664714495vw;
  z-index: 74
}
.style77 {
  margin-left: 3.3674963396778916vw;
  margin-top: -1.171303074670571vw;
  width: 1.2445095168374818vw;
  height: 1.0516500403207358vw;
  z-index: 76
}
.style45 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-left: -13.565711360724745vw;
  margin-top: 4.612005856515373vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 44
}
.style56 {
  background-color: #fff;
  display: flex;
  margin-left: -15.885797950219619vw;
  margin-top: 0;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 55;
  justify-content: center
}
.goodsrow3col1container28col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style58 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 57
}
.style57 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 56
}
.style26 {
  background-color: #fff;
  display: flex;
  margin-left: 0;
  margin-top: -85.50512445095168vw;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 25;
  justify-content: center
}
.goodsrow3col1container18col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style28 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 27
}
.style27 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 26
}
.style35 {
  background-color: #fff;
  display: flex;
  margin-left: -15.885797950219619vw;
  margin-top: 0;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 34;
  justify-content: center
}
.goodsrow3col1container21col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style37 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 36
}
.style36 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 35
}
.style47 {
  background-color: #fff;
  display: flex;
  margin-left: -15.885797950219619vw;
  margin-top: 0;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 46;
  justify-content: center
}
.goodsrow3col1container25col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style49 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 48
}
.style48 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 47
}
.style59 {
  background-color: #fff;
  display: flex;
  margin-left: -15.885797950219619vw;
  margin-top: 0;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 58;
  justify-content: center
}
.goodsrow3col1container29col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style61 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 60
}
.style60 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 59
}
.breakpoint-0 {
  display: block
}